#ifndef CONFIG_HPP_INCLUDED
#define CONFIG_HPP_INCLUDED

#define DR_CONFIG_BLUETOOTH_NAME    "Hello, world!"
#define DR_CONFIG_BLUETOOTH_CLASS   0xA40420
#define DR_CONFIG_BLUETOOTH_PIN     1234

#endif // CONFIG_HPP_INCLUDED
